#next
client/node_modules
client/pnpm-lock.yaml

#fastapi
fastapi/__pycache__
fastapi/models/__pycache__
fastapi/.venv
fastapi/.env

#go
go-server/go.sum
golang/go.sum

#node
node-mongo/node_modules
node-mongo/pnpm-lock.yaml

*.env
